<section class="stat-block">
  <label class="stat-name">
    <select name="data.attackPrimary.name">
      {{#select data.attackPrimary.name}}
      {{#each config.attackTypes as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </label>
  <div class="stat-value reveal-rollable">
    <input name="data.attackPrimary.value" type="text" value="{{data.attackPrimary.value}}" data-dtype="Number" />
    <a class="task-check rollable hidden" data-action-value="{{data.attackPrimary.value}}"
      data-check-type="{{localize (lookup config.taskCheckTypes data.attackPrimary.name)}}"><i
        class="fas fa-dice"></i></a>
  </div>
  {{#if (ne actor.type "mook")}}
  <label class="stat-name">
    <select name="data.attackBackup.name">
      {{#select data.attackBackup.name}}
      {{#each config.attackTypes as |name type|}}
      {{#if name}}
      <option value="{{type}}">{{localize name}}</option>
      {{else}}
      <option value="">{{localize "fs2e.stats.backupAttack"}}</option>
      {{/if}}
      {{/each}}
      {{/select}}
    </select>
  </label>
  <div class="stat-value reveal-rollable">
    <input name="data.attackBackup.value" type="text" value="{{data.attackBackup.value}}" data-dtype="Number" />
    <a class="task-check rollable hidden" data-action-value="{{data.attackBackup.value}}"
      data-check-type="{{localize (lookup config.taskCheckTypes data.attackBackup.name)}}"><i
        class="fas fa-dice"></i></a>
  </div>
  {{/if}}
  <label class="stat-name">
    {{localize "fs2e.stats.defense"}}
  </label>
  <div class="stat-value reveal-rollable">
    <input name="data.defense" type="text" value="{{data.defense}}" data-dtype="Number" />
    <a class="task-check rollable hidden" data-action-value="{{data.defense}}"
      data-check-type="{{localize (lookup config.taskCheckTypes "defense")}}"><i class="fas fa-dice"></i></a>
  </div>
  {{#if (ne actor.type "mook")}}
  <label class="stat-name">
    {{localize "fs2e.stats.toughness"}}
  </label>
  <div class="stat-value reveal-rollable">
    <input name="data.toughness" type="text" value="{{data.toughness}}" data-dtype="Number" />
    <a class="task-check rollable hidden" data-action-value="{{data.toughness}}"
      data-check-type="{{localize (lookup config.taskCheckTypes "toughness")}}"><i class="fas fa-dice"></i></a>
  </div>
  {{/if}}
  {{#if (eq actor.type "hero")}}
  <label class="stat-name">
    <select name="data.fortune.name">
      {{#select data.fortune.name}}
      {{#each config.fortuneTypes as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </label>
  <div class="stat-value reveal-rollable">
    <input name="data.fortune.value" type="text" value="{{data.fortune.value}}" data-dtype="Number" />
    <div>/</div>
    <input name="data.fortune.max" type="text" value="{{data.fortune.max}}" data-dtype="Number" />
    <a class="task-check rollable hidden" data-action-value="{{data.fortune.value}}"
      data-check-type="{{localize (lookup config.taskCheckTypes "fortune")}}"><i class="fas fa-dice"></i></a>
  </div>
  {{/if}}
  <label class="stat-name">
    {{localize "fs2e.stats.speed"}}
  </label>
  <div class="stat-value reveal-rollable">
    <input name="data.speed" type="text" value="{{data.speed}}" data-dtype="Number" />
    <a class="task-check rollable hidden" data-action-value="{{data.speed}}"
      data-check-type="{{localize (lookup config.taskCheckTypes "speed")}}"><i class="fas fa-dice"></i></a>
  </div>
</section>