<section class="stat-block">
  <label class="stat-name">
    {{localize "fs2e.vehicle.driving"}}
  </label>
  <div class="stat-value reveal-rollable">
    <input type="text" disabled="true" value="{{drivingSkill}}" />
    <a class="driving-check rollable hidden"><i class="fas fa-dice"></i></a>
  </div>
  <label class="stat-name">
    {{localize "fs2e.vehicle.acceleration"}}
  </label>
  <div class="stat-value">
    <input name="data.acceleration" type="text" value="{{data.acceleration}}" data-dtype="Number" />
  </div>
  <label class="stat-name">
    {{localize "fs2e.vehicle.handling"}}
  </label>
  <div class="stat-value">
    <input name="data.handling" type="text" value="{{data.handling}}" data-dtype="Number" />
  </div>
  <label class="stat-name">
    {{localize "fs2e.vehicle.squeal"}}
  </label>
  <div class="stat-value reveal-rollable">
    <input type="text" disabled="true" value="{{data.squeal}}" />
  </div>
  <label class="stat-name">
    {{localize "fs2e.vehicle.frame"}}
  </label>
  <div class="stat-value">
    <input name="data.frame" type="text" value="{{data.frame}}" data-dtype="Number" />
  </div>
  <label class="stat-name">
    {{localize "fs2e.vehicle.crunch"}}
  </label>
  <div class="stat-value reveal-rollable">
    <input type="text" disabled="true" value="{{data.crunch}}" />
  </div>
  <label class="stat-name">
    {{localize "fs2e.vehicle.condition"}}
  </label>
  <div class="stat-value">
    <input name="data.condition" type="text" value="{{data.condition}}" data-dtype="Number" />
  </div>
</section>
