<div class="weapon-card item" data-item-id="{{_id}}" data-weapon-damage={{data.damage}}>
  <div class="weapon-info weapon-name">
    <p>
      {{#if inSheet}}
      <a class="item-roll">{{name}}</a>
      {{else}}
      {{name}}
      {{/if}}
    </p>
  </div>
  <div class="weapon-info weapon-stats">
    <p>
      {{data.damage}}/{{data.concealment}}/{{#if data.reload}}{{data.reload}}{{else}}-{{/if}}
    </p>
    <div class="weapon-effects">
      {{#if data.pumpAction}}
      <img src="systems/fs2e/icons/weapon_effects/pump_action.png" height="20">
      {{/if}}
      {{#times data.mookBonus}}
      <img src="systems/fs2e/icons/weapon_effects/skull.png" height="20">
      {{/times}}
    </div>
  </div>
</div>