<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="img-wrapper">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    </div>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
  </header>
  <div class="sheet-content">
    <div class="item-stats">
      <div class="item-stat">
        <label>{{localize "fs2e.armor.thunk"}}</label>
        <input name="data.thunk" type="text" value="{{data.thunk}}" data-dtype="Number" />
      </div>
      <div class="item-stat">
        <label>{{localize "fs2e.armor.popBack"}}</label>
        <input name="data.popBack" type="text" value="{{data.popBack}}" data-dtype="Number" />
      </div>
      <div class="item-stat">
        <label>{{localize "fs2e.armor.penalty"}}</label>
        <input name="data.penalty" type="text" value="{{data.penalty}}" data-dtype="Number" />
      </div>
    </div>
    <div class="panelBorder sheet-card description">
      <h2>{{localize "fs2e.sheet.description"}}</h2>
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>