<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
  </header>
  <div class="sheet-content">
    <table>
      <tr>
        <th>{{localize "fs2e.vehicle.acceleration"}}</th>
        <th>{{localize "fs2e.vehicle.frame"}}</th>
        <th>{{localize "fs2e.vehicle.handling"}}</th>
        <th>{{localize "fs2e.vehicle.personal"}}</th>
      </tr>
      <tr>
        <td>
          <input name="data.acceleration" type="text" value="{{data.acceleration}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.frame" type="text" value="{{data.frame}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.handling" type="text" value="{{data.handling}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.personal" type="checkbox" {{checked data.personal}} />
        </td>
      </tr>
    </table>
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</form>