<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="img-wrapper">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    </div>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
  </header>
  <div class="sheet-content">
    <div class="item-stats">
      <div class="item-stat">
        <label>{{localize "fs2e.weapon.attackWith"}}</label>
        <select name="data.attackWith">
          {{#select data.attackWith}}
          {{#each config.attackTypes as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="item-stat">
        <label>{{localize "fs2e.weapon.damage"}}</label>
        <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number" />
      </div>
      <div class="item-stat">
        <label>{{localize "fs2e.weapon.conceal"}}</label>
        <input name="data.concealment" type="text" value="{{data.concealment}}" data-dtype="Number" />
      </div>
      <div class="item-stat">
        <label>{{localize "fs2e.weapon.reload"}}</label>
        <input name="data.reload" type="text" value="{{data.reload}}" data-dtype="Number" />
      </div>
      <div class="item-stat">
        <label>{{localize "fs2e.weapon.mookBonus"}}</label>
        <input name="data.mookBonus" type="text" value="{{data.mookBonus}}" data-dtype="Number" />
      </div>
      <div class="item-stat">
        <label>{{localize "fs2e.weapon.pumpAction"}}</label>
        <input name="data.pumpAction" type="checkbox" {{checked data.pumpAction}} />
      </div>
      <div class="item-stat">
        <label>{{localize "fs2e.weapon.heavy"}}</label>
        <input name="data.heavy" type="checkbox" {{checked data.heavy}} />
      </div>
    </div>
    <div class="panelBorder sheet-card description">
      <h2>{{localize "fs2e.sheet.description"}}</h2>
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>